APP_NAME='Khajanchi'
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


###
### Below config are for our application setup
###

SITE_TYPE='erp'
CMP_TYPE='cafe'

OC_SELECT_COLOR='#112'
OC_SELECT_TXT_COLOR='#fff'
OC_UNSELECT_TXT_COLOR='#fff'

OC_ASCENT_BTN_COLOR='btn-primary'
OC_ASCENT_BG_COLOR='bg-primary'
OC_ASCENT_TEXT_COLOR='text-white'
OC_ASCENT_TEXT_LB_COLOR='text-white'

OC_ASCENT_HL_COLOR='text-white'
OC_ASCENT_HL_TXT_COLOR='text-white'

MODULES='dashboard,product,cms,shop,school,report,team,crm,project,'
