.nb-bg1 {
    background-image: url("../img/hero-3.jpg");
}

.o-overlaid {
    background-image: url("../img/img-1.jpg");
}

.o-overlay {
   background-color: rgba(0, 0, 0, 0.5);
}

.o-top-page-banner {
    /*
    background-image: url("../img/hero-1.webp");
    */
    background-image: linear-gradient(to right, #05a, #fff);
    background-size: stretch;
    background-repeat: no-repeat;
    background-position: top;
}

.o-btn-success-hover:hover {
    background-color: blue;
}

.o-animated {
    animation-name: oAnimated;
    animation-duration: 2s;
    position: relative;
}

@keyframes oAnimated {
    from {
        background-color: #eee;
    }

    to {
        background-color: #fff;
    }
}

.o-ltr {  
    animation:move 20s linear infinite;
}

.o-ltr {  
    animation:move 20s linear infinite;
}
.o-ltr:hover {
animation-play-state:paused;
-webkit-animation-play-state:paused;
}

@keyframes move{
    0% {
        /*
        color: white;
        font-size: 1rem;
        */
        margin-left:0%;
    }
    50% {
        /*
        color: green;
        font-size: 2rem;
        */
    }
    100% {
        /*
        color: white;
        margin-left:100%;
        font-size: 2rem;
        */
        margin-left:100%;
    }
}

@keyframes fade-in{
    0% {
        opacity:0%;
    }
    100% {
        opacity:100%;
    }
}

@keyframes fade-out{
    0% {
        opacity:100%;
    }
    100% {
        opacity:0%;
    }
}

@keyframes left-to-right{
    0% {
        /* left:0px; */
        margin-left:0%;
    }
    100% {
        /* left:100px; */
        margin-left:10%;
    }
}

@keyframes right-to-left{
    0% {
        margin-left:100%;
    }
    100% {
        margin-left:0%;
    }
}

.o-text-bigger {
    font-size: 1.3rem;
}


.o-pulled-up:hover {
    /* animation:pull-up 1s linear; */
}

@keyframes pull-up{
    0% {
        background-color: red;
    }
    100% {
        background-color: black;
    }
}

.o-darker {
    background: rgba(0, 0, 0, 0.5)
}

.o-flipper:hover {
    /*
    position: relative !important;
    bottom: 10px !important;
    */
    background-color: #ddf;
}
